<app-navbar [currentUser]="currentUser"></app-navbar>

<div id="analisis-completo" >
  <div class="titulo">
   <h3>Analisis del cuestionario</h3>

  </div>

<div class="disciplina_container">
  <h4 class="disciplina" >Disciplina Seleccionada:</h4> <p class="disciplina-dinamica"> {{temasSeleccionados[0].materia.disciplina.name}} </p>
</div>
<div class="materia_container">
  <p class="materia">Materia Seleccionada: </p> <p class="materia-dinamica">{{temasSeleccionados[0].materia.name}}</p>
</div>
<div class="temas_titulo_container">
  <p class="temas">Temas seleccionados: </p>
</div>

<div class="container_temas_seleccionados">
  <div class="temas_seleccionados" *ngFor="let nombre of nombreTemasSeleccionados">
    <span>{{nombre}}</span>
  </div>
</div>
  <div class="cuesitonario_desarrollo">
    <p class="cuestionario_titulo">Cuestionario:</p>
  </div>
<!-- Iterar sobre cada tema seleccionado -->
<div class="preguntas_respuestas_container">
  <div class="all-for-bucles">
  <div *ngFor="let key of objectKeys(temasPreguntas)" class="preguntas_respondidas">
    <div class="titulo_tema_preguntas">
      <p>{{key}}</p>
    </div>
      <div id="preguntas_coleccion" [class]="value.esCorrecta ? 'green':'red'" *ngFor="let value of temasPreguntas[key]">
        {{value.pregunta.enunciado}}
        <div class="emoticon"><span>{{value.esCorrecta ? '✔️':'❌'}}</span></div>
      </div>
  </div>
</div>
  <div class="respuestas" >

    <div class="temas_respuestas_container_correctas" *ngFor="let key of objectKeys(temasPreguntas)">
      <div class="temas_respuestas_container"><p class="temas_respuestas">{{key}}:</p></div>
      <div class="respuestas-correct" *ngFor="let value of temasPreguntas[key]">
          <p class="respuestas_correctas_temas"> <span class="respuestas_correctas_">#RESPUESTA CORRECTA:</span>  {{value.respuesta}}</p>
      </div>


  </div>
  </div>
</div>
</div>
  <div class="botones-resultados-descargas">
    <button class="inicio_button" mat-button><div class="inside-button" routerLink="/home">  <span>IR AL INICIO</span>  </div> </button>
    <button class="descargar-resumen" mat-button (click)="generatePDF()"><div class="inside-button" > <img src="../../../../assets/pdf.png" alt="resumen" width="20px"> <span>DESCARGAR RESUMEN</span>  </div> </button>
  </div>



