<app-navbar [currentUser]="currentUser"></app-navbar>

<div class="analisis-completo">
  <div class="titulo" >
    <h3 class="analisis_titulo_container" >Analisis del cuestionario</h3>
  </div>

<div class="disciplina_container">
  <h4 class="disciplina">Disciplina Seleccionada:</h4> <p class="disciplina-dinamica"> {{temasSeleccionados[0].materia.disciplina.name}} </p>
</div>
<div class="materia_container">
  <p class="materia">Materia Seleccionada: </p> <p class="materia-dinamica">{{temasSeleccionados[0].materia.name}}</p>
</div>
<div class="temas_titulo_container">
  <p class="temas">Temas seleccionados: </p>
</div>

<div class="container_temas_seleccionados">
  <div class="temas_seleccionados" *ngFor="let tema of temasSeleccionados">
    <span>{{tema.name}}</span>
  </div>
</div>
  <div class="cuesitonario_desarrollo">
    <p class="cuestionario_titulo">Cuestionario:</p>
  </div>
<!-- Iterar sobre cada tema seleccionado -->
<div *ngFor="let tema of temasSeleccionados" class="temas_preguntas_respuestas">

  <p class="tema_titulo_preguntas">Tema: {{tema.name}}</p>
  <!-- Iterar sobre cada pregunta correspondiente al tema -->
  <div *ngFor="let respuesta of getRespuestasForTema(tema)" class="respuesta-validacion-container">

    <div *ngIf="respuesta.pregunta.enunciado" class="respuesta-validacion" [class]="respuesta.esCorrecta? 'green' : 'red'">
        <p>{{respuesta.pregunta.enunciado}}</p>
        <span  class="emoticon">{{respuesta.esCorrecta ? '✔️' : '❌'}}</span>
    </div>

  </div>
</div>
</div>
