
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  button{
    background-color: green;
  }
}
.restore_password{
  width: 100%;
}
button{
  margin-top: 20px;
  width: 200px;
}
