form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  button{
    background-color: green;
  }
}
.restore_password{
  width: 100vh;
}
button{
  margin-top: 20px;
}
