<div class="restore_password">
    <form [formGroup]="formRestore">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        <mat-error *ngIf="formRestore.get('email')!.hasError('required')"> Email is required</mat-error>
        <mat-error *ngIf="formRestore.get('email')!.hasError('email')">Email is invalid</mat-error>
      </mat-form-field>
      <button mat-button (click)="restorePassword()">SEND EMAIL</button>
    </form>
</div>

