<div class="container">
  <div class="button-back-div">
    <button class="button-back-element" mat-button (click)="volverAtras()">VOLVER AL INICIO</button>
  </div>
  <div class="pregunta-respuesta" *ngIf="!noHayMasPreguntas">
    <div *ngFor="let pregunta of preguntasConRespuestas">
      <div *ngIf="preguntasConRespuestas.indexOf(pregunta) === preguntaSeleccionadaIndex">
        <p class="enunciado">{{pregunta.pregunta.enunciado}}</p>
        <img *ngIf="pregunta.pregunta.imgURL" [src]="pregunta.pregunta.imgURL" alt="preguntaImagen">
        <ul>
        <li *ngFor="let respuesta of pregunta.respuestas"
        class="respuesta"
        (click)="verificarRespuesta(respuesta)"
        [class.disabled]="respuesta !== respuestaSeleccionada && respuestaSeleccionada"
        [@slideInFromLeft]>
          <span> {{ respuesta.respuesta.texto }} </span>
          <span *ngIf="respuesta === respuestaSeleccionada" [class.bg-success]="respuesta.esVerdadera && respuesta === respuestaSeleccionada"
        [class.bg-danger]="!respuesta.esVerdadera && respuesta === respuestaSeleccionada">
        {{respuestaCorrecta ? 'RESPUESTA CORRECTA' : 'RESPUESTA INCORRECTA'}}
      </span>
        </li>
      </ul>
    </div>
    </div>
    <div class="next-question-div" [@animation]>
      <button class="next-question" mat-button (click)="siguientePregunta()">SIGUIENTE PREGUNTA</button>
      <button mat-button class="finish-quiz" (click)="resultados()">FINALIZAR</button>
    </div>
  </div>
  <div class="resultados" *ngIf="noHayMasPreguntas">
    <p class="final-resultados"> FINALIZASTE EL CUESTIONARIO, YA PUEDES VER LOS RESULTADOS! </p>
    <button mat-button class="go-result" (click)="resultados()">IR A LOS RESULTADOS</button>
  </div>
</div>
