<div class="container">
  <div class="button-back-div">
    <button class="button-back-element" mat-button (click)="volverAtras()">VOLVER AL INICIO</button>
  </div>
  <div class="pregunta-respuesta" *ngIf="!noHayMasPreguntas">
    <div class="enunciado">
      <p>{{enunciado}}</p>
    </div>


    <button class="respuesta" *ngFor="let respuesta of respuestas" (click)="verificarRespuesta(respuesta)" [disabled]="seleccionada || tiempoTerminado">
      <p>{{respuesta.respuesta.texto}}</p>
      <span *ngIf="respuesta === respuestaSeleccionada" [class.bg-success]="respuesta.esVerdadera && respuesta === respuestaSeleccionada"
        [class.bg-danger]="!respuesta.esVerdadera && respuesta === respuestaSeleccionada">
        {{respuestaCorrecta ? 'RESPUESTA CORRECTA' : 'RESPUESTA INCORRECTA'}}
      </span>

    </button>
    <div class="no-time" *ngIf="tiempoTerminado"><span>¡Te quedaste sin tiempo!</span></div>
    <div class="next-question-div">
      <button class="next-question" mat-button (click)="siguientePregunta()">SIGUIENTE PREGUNTA</button>
      <button mat-button class="finish-quiz" (click)="resultados()">FINALIZAR</button>
    </div>

    <app-timer *ngIf="restartInterval"></app-timer>

  </div>

  <div class="resultados" *ngIf="noHayMasPreguntas">
    <p class="final-resultados"> FINALIZASTE EL CUESTIONARIO, YA PUEDES VER LOS RESULTADOS! </p>
    <button mat-button class="go-result" (click)="resultados()">IR A LOS RESULTADOS</button>
  </div>

</div>
