  <div class="container">


  <app-navbar [currentUser]="currentUser"></app-navbar>
  <div class="bienvenida" *ngIf="currentUser">
    ¡Bienvenido/a, {{currentUser.displayName}}!
  </div>


  <div class="content">
    <div class="disciplinas" *ngIf="mostrarDisciplina">
       <app-disciplina (disciplinaSelected)="onDisciplinaSelected($event)"></app-disciplina>


      </div>

    <div class="materias" *ngIf="!mostrarDisciplina" >

      <button mat-button (click)="volverDisciplina()" (click)="volverMateria()" >BACK</button>

      <div *ngIf="materias$ | async as materias" class="materiasDiv">

        <h4>Selecciona la materia que mas se ajuste a tu disciplina!</h4>
        <mat-form-field appearance="fill">
        <mat-label>{{nombreMateriaSeleccionada}}</mat-label>
        <mat-select >
          <mat-option *ngFor="let materia of materias" (click)="onMateriaSelected(materia)">
            {{materia.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div> </div>

<div *ngIf="mostrarTemas">

  <div>
    <app-temas [materia]="materiaSeleccionada"> </app-temas>
  </div>
</div>



    </div>
  </div>




