main{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  .button-google{
    color: white;
    background-color: rgb(70, 79, 255);

  }
}
.container{
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form{
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  mat-form-field{
    margin-bottom: 10px;
  }
  button,
  mat-form-field{
    width: -webkit-fill-available;
  }
  button{
    margin: 5px 0;

    &[mat-button]{
      width: auto;
    }
  }
  .aligned-to-right{
    text-align: right;
    width: 100%;
  }
  .button-loader{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  }

}
