

<div class="container">
  <button class="back" mat-raised-button routerLink="/signin" > BACK </button>
  <main>

  <form [formGroup]="formRegister">
    <h1>Registrarse en el sitio:</h1>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="nombre" formControlName="name">

    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input type="text" matInput placeholder="apellido" formControlName="lastname">

    </mat-form-field>
      <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
      <mat-error *ngIf="formRegister.get('email')!.hasError('required')"> Email is required</mat-error>
      <mat-error *ngIf="formRegister.get('email')!.hasError('email')">Email is invalid</mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="formRegister.get('password')!.hasError('required')"> Password is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm password</mat-label>
    <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
    <mat-error *ngIf="formRegister.errors?.['passwordMissMatchError'] && formRegister.get('confirmPassword')!.hasError('required')"> Passwords do not match</mat-error>
  </mat-form-field>

    <button mat-stroked-button color="primary" (click)="createUser()" [disabled]="!formRegister.valid">REGISTRARSE</button>
  </form>
</main>
</div>


