main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
form{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  mat-form-field{
    margin-bottom: 10px;
  }}

.container{
  width: 100%;
  height: 100vh;
}
.validarMail{
  font-size: 20px;
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.backTemplate{
  background-color: blue;
  color: white;
}
